<div class="container-fluid">
  <div class="row">
    <!-- Barra lateral con lista de notas -->
    <div class="col-md-3 bg-light">
      <h2>Notas</h2>
      <ul class="list-group">
        <li (click)="viewNote(n)" class="list-group-item" *ngFor="let n of my_notes">{{n.title}}</li>
      </ul>
      <br>
      <button class="btn btn-primary col-12" (click)="addNote()">Crear</button>
    </div>

    <div class="col-md-9 mt-4" *ngIf="show_form">
      <h2 *ngIf="editing">Editar Nota</h2>
      <h2 *ngIf="!editing">Nueva Nota</h2>
      <form>
        <div class="form-group">
          <label for="titulo">Título:</label>
          <input type="text" class="form-control" id="titulo" placeholder="Ingrese el título de la nota"
            [(ngModel)]="note.title" name="title">
        </div>
        <div class="form-group">
          <label for="contenido">Contenido:</label>
          <textarea class="form-control" id="contenido" rows="5" placeholder="Ingrese el contenido de la nota"
            [(ngModel)]="note.descripcion" name="descripcion"></textarea>
        </div>
        <div class="row">
          <div class="col-md-4">
            <button class="btn btn-primary col-12" (click)="createNote()">Guardar</button>
          </div>
          <div class="col-md-4">
            <button class="btn btn-secondary col-12" (click)="cancel()">Cancelar</button>
          </div>
          <div class="col-md-4">
            <button class="btn btn-danger col-12" *ngIf="editing" (click)="delete()">Eliminar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>